/*navbar I assume: default css*/
body {
  padding-top: 70px;
}

/*Play button in navbar*/
#play {
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

/*Make images of RPS grow*/
.grow img {
  position: relative;
  height: 75px;
  width: 75px;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.grow img:hover {
   background-color: yellow;
   padding: 5px;
}

/*Font styles for the scoreboards on right of screen*/
#pcmove, #hummove, #score {
  float: right;
  font-weight: bold;
}
